body {
  margin: 0px;
  padding: 0px;
}
.bar {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background: lightblue;
  height: 75px;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 20vh;
  text-transform: uppercase;
  font-weight: 250;
  font-family: "Roboto", sans-serif;
  letter-spacing: 2px;
  position: fixed;
  top: 20px;
  left: 700px;
  width: 100%;
  padding: 10px 50px;
}
.menu {
  display: flex;
}
.menu li a {
  padding: 10px 15px;
  color: crimson;
  font-size: 20px;
}
.logo {
  padding: 10px 2px;
  font-size: 15px;
}
