@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,900&display=swap");
body {
  margin: 0px;
  padding: 0px;
  background-image: url(/pictures/programming.jpeg);
  background-size: cover;
}
.bar {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  background: mistyrose;
  height: 90px;
  font-size: 30px;
  letter-spacing: 2px;
  color: white;
  font-family: "Roboto", sans-serif;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 20vh;
  text-transform: lowercase;
  font-weight: 250;
  font-family: "Roboto", sans-serif;
  letter-spacing: 2px;
  position: fixed;
  top: 30px;
  left: 60%;
  width: 100%;
  padding: 10px 50px;
}
.menu {
  display: flex;
}
.menu li a {
  padding: 10px 15px;
  color: white;
  font-size: 20px;
  text-decoration: underline;
}
.text-align {
  text-align: center;
  margin-top: 75px;
  font-family: "Roboto", sans-serif;
}
.form-one {
  text-align: center;
}
.instagram {
  margin-top: 50px;
}
.discord {
  margin-top: 120px;
}
.container {
  display: block;
  width: 90%;
  max-width: 1100px;
  margin: 0px auto;
  align-items: center;
  margin-left: 100px;
}
.heading1 {
  max-width: 600px;
  margin-top: 105px;
  margin-right: 15px;
  margin-left: auto;
  line-height: 40px;
  font-size: 40px;
  text-align: left;
  font-weight: 200;
  font-family: "Roboto", sans-serif;
  color: white;
}
.center {
  text-align: center;
  display: block;
  margin: 0 auto;
  font-size: 45px;
  color: black;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  text-decoration: underline;
}
.aboutme {
  max-width: 800px;
  margin-top: 140px;
  margin-right: 15px;
  margin-left: auto;
  padding-top: 0px;
  font-family: "IBM Plex Sans", sans-serif;
  color: white;
  font-size: 20px;
  line-height: 25px;
  font-weight: 600;
  text-align: left;
  font-family: "Roboto", sans-serif;
}
.projects li a {
  display: block;
  margin-top: 10px;
  text-decoration: none;
  color: white;
  font-size: 25px;
  line-height: 22px;
  color: black;
  font-weight: bold;
}
.projectcolor {
  text-align: center;
  color: white;
}
.block div {
  width: 100%;
}
div a {
  text-align: center;
  display: block;
  margin: 0 auto;
  color: white;
  font-size: 25px;
  margin-right: 35px;
}
