body {
  margin: 0px;
  padding: 0px;
  background: lightblue;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
#main {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: cent;
  text-transform: uppercase;
  font-weight: 600;
  font-family: "Potta One", cursive;
  letter-spacing: 2px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 10px 50px;
  z-index: 1;
}
.menu {
  display: flex;
}
.menu li a {
  padding: 10px 15px;
  color: crimson;
  font-size: 12px;
}
.logo {
  padding: 10px 15px;
  font-size: 15px;
}
